/* Nuevo css */
*{
  margin:0;
  padding:0;
  font-family: 'BatmanForeverAlternate', sans-serif;
}
:root{
  font-size: 16;
}


/* footer siempre abajo */
html{
  height: 100%;
}
body{
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
footer{
  margin-top: auto;
}
/* ------------------------------ */


a{
  text-decoration: none!important;
  color: #000;
}
a:hover {
  color:#fff;
}
ul{
  list-style: none;
}
.contenedor-text__titulo {
  font-size: 90px;
  -webkit-text-stroke: 4px black;
  margin: 0;
}
.contenedor-text__parrafo {
  font-size: 40px;
  -webkit-text-stroke: 3px black;
  margin: 0;
}
h3, p {
  color: #fff;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  background-color: #18181B;
  border-radius: 12px;
  padding: 7px;
  font-family: 'BatmanForeverAlternate', sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0px #22ca27;
  -webkit-text-stroke: 2px #18181B;
}
h5{
  color: #fff;
  text-shadow: 1px 2px 0px #22ca27;
  -webkit-text-stroke: 2px #18181B;
}
h1{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  background-color: #18181B;
  border-radius: 12px;
  padding: 7px;
  font-family: 'BatmanForeverAlternate', sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0px #22ca27;
  -webkit-text-stroke: 2px #18181B;
}
.tituloh3{
  font-weight: normal  ;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: none;
  -webkit-text-stroke: 0px;
  font-size: 1.75rem;
  background-color: #000;
  color: #fff;
}

/* ---------------------- */


/* encabesado */
.header{
  background-color: #18181B;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.ul{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}
.ul__element{
  display: flex;
  align-items: center ;
}
.nav{
  display: flex;
  flex-direction: column;
}
.nav__ul{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.nav__a{
  font-size: 1.5vw;
  color: #17FD03;
  -webkit-text-stroke: 1px #09090b;
}
.ul__element--search{
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}
.buscador{
  box-sizing: none!important;
  font-size: 12px!important;
  line-height: 0!important;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}
.buscardor_i{
  width: 100%;
}
.ul__boton{
  background-color: #222225;
  display: flex;
  align-items: center;
  color: #17FD03;
  border: none;
  font-size: 1.5vw;
  -webkit-text-stroke: 1px #09090b;
  border-radius: 10px;
  padding: 5px;
}

.logo {
  width: 100%;
  overflow: hidden;
}

/* principal */
main{
  margin-bottom: 1em;
}
.prin{
  display: grid;
}
.prin__div{
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin-bottom: 1em;
}
.prin_sec{
  width: 100%;
  overflow: hidden;
}
.prin__img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.prin__a {
  display: flex;
  place-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.prin__a:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.contenedor__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.contenedor-text__parrafo,
.contenedor-text__titulo{
  text-align: center;
}
.sec__div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: center;
}
.sec__div h2{
  padding: 15px;
  margin-bottom: 20px;
}
.container_c{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em  ;
}
.art{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em ;
  margin-left: 100px;
  margin-right: 100px;
}

.art p , .art h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.titu{
  display: flex;
  justify-content: center;
}
.contenedor__grid{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  justify-items: center;
  gap: 1em;
}
.contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textc{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.formulario {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario label{
  color: #fff;
}
.mapac{
  display: flex;
  justify-content: center;
  width: 100%;
}
.mapac iframe{
  width: 100%;
  height: 400px;
  max-width: 800px;
}
.bi{
  width: 100%!important;
  max-height: 500px!important;
  height: auto!important;

}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.carousel-caption h3{
  font-size: 3vw;
  -webkit-text-stroke: 2px #09090b;
}
.carousel-caption p{
  font-size: 2vw;
  -webkit-text-stroke: 0.8px #09090b;
}
.servi{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.servi ul li{
  color: #fff;
  padding: 10px;
}

/* --------------------- */
/* cards */
.card{
  cursor: pointer;
  box-sizing: border-box;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-text{
  color: #000;
  text-align: center;
  text-shadow: 1px 2px 0px #17FD03;
}
.btn-primary {
  color: #000;
  background-color: #17FD03;
  border: #000 solid 1px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #17FD03;
}
.cimg{
  width: 300px;
  height: 300px;
}


/* footer */


.pie {
  background-color: #18181B;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.pie__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.pie__a {
  padding-bottom: 15px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.pie_format {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.mapa{
  margin: 1em;
}

/* hamburgesa */
.fondo{
  background-color: #18181B!important;
  position: relative;
  display: none;
  bottom: 0;
  z-index: +1;
}
.navbar-toggler{
  border: none!important;
}
.navbar-toggler:focus{
  outline: none;
}
.navbar-dark{
  display: flex!important;
  background-color: #18181B!important;
  justify-content: center!important;
}
.nav-link{
  padding: 10px!important;
  color: #17FD03;
  justify-content: center;
}
.nav-item{
  border: 1px solid #09090b;
  width: 100%;
}
.navbar-nav{
  align-items: center!important;
}
.nav-link:hover{
  color: #fff;
}


/* carousel bootstrap */
.carousel-indicators li{
  background-color: #09090b;
}
.carousel-indicators .active {
  background-color: #17FD03;
}




@media screen and (max-width:1334px) {
  .contenedor__grid{
 grid-template-columns: repeat(3, auto);
}
}
@media screen and (max-width:1200px) {
  .ocultart{
    display: none;
  }
}
@media screen and (max-width: 1024px){
  .ul__boton{
    display: none;
  }
  .ul{ 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .nav__a{
  font-size: 2.5vw;
}
 .pie{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .pie__div{
  width: 100%;
  border-top: 1px solid #000;
}
.contenedor__grid{
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
 }
}
@media screen and (max-width: 912px){
  .prin__div{
    display: flex;
    flex-direction: column;
  }
  .ul__boton{
    display: none;
  }
  .ul{ 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .nav__a{
  font-size: 2.5vw;
}
 .pie{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .pie__div{
  width: 100%;
  border-top: 1px solid #000;
}
}
@media screen and (max-width: 820px){
  .ul__boton{
    display: none;
  }
  .ul{ 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .nav__a{
  font-size: 2.5vw;
}
 .pie{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .pie__div{
  width: 100%;
  border-top: 1px solid #000;
}
.prin__div{
  display: flex;
  flex-direction: column;
}
.ocultar{
  display: none;
} 
}

@media screen and (max-width: 766px) {
  .ocultar{
    display: none;
  } 
  .nav__ul{
    display: none;
  }
  .prin__div{
    display: flex;
    flex-direction: column;
  }
  .contenedor__text h3{
    font-size: 12vw ;
  }
  .contenedor__text p{
    font-size: 8vw;
  }
  h2{
    font-size: 8vw;
  }
  .pie{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pie__div{
    width: 100%;
    border-top: 1px solid #000;
  }
 .ul__boton{
  display: none;
 }
 .ul{ 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .fondo{
  display: block;
 }
 .navbar-nav{
  width: 100%!important;
  align-items: center!important;
 }
 .nav-link{
  display: flex!important ;
  width: 100%!important;
 }
 .ul__element--search{
  padding-left: 10px;
  padding-right: 10px;
 }
 .contenedor__grid{
  grid-template-columns: 100%;
  grid-template-rows: auto;
 }
 .carousel-caption h3{
  font-size: 20px;
 }
 .carousel-indicators{
  display: none;
 }
}
@media screen and (max-width: 280px) {
  .contenedor__text h3{
    font-size: 45px;
  }
  .contenedor__text p{
   display: none;
  }
  .sec__div h2{
    font-size: 27px;
  }
}



