*{
    margin: 0;
    padding: 0;
    font-family: 'BatmanForeverAlternate', sans-serif;
}
html{
    height: 100%;
}
body{
    background-color: nth($color, 1);
    @extend %flex-columna;
    min-height: 100%;
}
footer{
    margin-top: auto;
}
a{
    text-decoration: none!important;
}
a:hover{
    color:#fff;
}
ul{
    list-style: none;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    background-color: #18181B;
    border-radius: 12px;
    padding: 7px;
    font-family: 'BatmanForeverAlternate', sans-serif;
    color: #fff;
    text-shadow: 1px 2px 0px #22ca27;
    -webkit-text-stroke: 2px #18181B;
    @include pantalla-baja-media{
      font-size: 7.9vw;
    }
  }
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  background-color: #18181B;
  border-radius: 12px;
  padding: 7px;
  font-family: 'BatmanForeverAlternate', sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0px #22ca27;
  -webkit-text-stroke: 2px #18181B;
  @include pantalla-baja-media{
    font-size: 7.8vw;
  }
}
h3, p {
    color: #fff;
  }
h5{
  color: #fff;
  text-shadow: 1px 2px 0px #22ca27;
  -webkit-text-stroke: 2px #18181B;
}
