.contenedor-text__titulo {
    font-size: 90px;
    -webkit-text-stroke: 4px black;
    margin: 0;
  }
  .contenedor-text__parrafo {
    font-size: 40px;
    -webkit-text-stroke: 3px black;
    margin: 0;
  }