.header{
    background-color:nth($color,1) ;
    .ul{
        &__element{
            &--search{
                width: 100%;
                max-width: 500px;
                overflow: hidden;
            }
            @extend %flex-center;
        }
        &__a{
            background-color: nth($color,4 );
        }
        &__boton{
            @extend %flex-center;
            background-color: nth($color,6);
            border: none;
            font-size: 1.5vw;
            -webkit-text-stroke: 1px #09090b;
            border-radius: 10px;
            padding: 5px;
        }

    }
    .nav{
        &__ul{
    
        }
        &__li{
                
        }
        &__a{
            
        }
    }
}
